{{ include('_navbar.html.twig') }}
<!DOCTYPE html>
<html>

	<style>

		h1 {}
		.transaction {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 7%;
			color: #efefef
		}
	</style>
	<body>
		<div class="transaction">
			<h1>Supprimer une transaction</h1>
		</div>

		<div class="container offset-lg-3">


			{{form_start(formView)}}
			<div class="form-group col-lg-8">
				{{form_row(formView.crypto)}}
			</div>
			<div class="form-group col-lg-8 ">

				{{form_widget(formView.quantity,{'attr':{
				'class':'form-control form-control-lg',
				'placeholder':'quantity'
			}})}}

				<p>{{form_errors(formView.quantity)}}</p>
			</div>
			<div class="row justify-content-center">
				<div class=" col col-lg-6 col-md-3">
					{{form_widget(formView.ajouter,{'attr':{
						'class':"btn btn-primary col-xl-3 col-xs-12"	
					}})}}
				</div>


			</div>

			{{form_end(formView)}}
		</div>


	</body>
</html>
